<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" id="i18_skills">
            <div class="navy-line"></div>
            <h1><span data-i18n="skills.my_skills">My Skills</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-4">
            <h3>Web Development</h3>
            <ul>
                <li>HTML/CSS</li>
                <li>Angular</li>
                <li>Ionic</li>
                <li>JavaEE</li>
                <li>SQL<li>
                <li>Node.JS</li>
                <li>JSF</li>
                <li>Express.JS</li>
                <li>REST API</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h3>Programming</h3>
            <ul>
                <li>Java</li>
                <li>Python<li>
                <li>Git</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h3>Data Science</h3>
            <ul>
                <li>Scikit-Learn</li>
                <li>Pandas</li>
            </ul>
        </div>
    </div>
</div>
